# deps
node_modules
package-lock.json

# build
dist
dist-ssr
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# capacitor / android
android
ios
.gradle

# env & secrets
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
